node_modules/
dist/
dist-electron/
release/
out/
.vite/
*.exe
*.dmg
*.zip
*.blockmap
*.AppImage
*.msi
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.DS_Store
Thumbs.db
.idea/
